# Benchmark pure pipeline:

Runtime comparison, of the translated pipelines. As well as showcase of the original and translated code.

In [1]:
import pathlib
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root
import os
import time

### The code of the "healthcare" pipeline that will be translated:

In [2]:
# No model training:
HEALTHCARE_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests",
                                    "healthcare", "healthcare_res.py")
COMPAS_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests", "compas",
                              "compas_res.py")
ADULT_SIMPLE_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests",
                                    "adult_simple", "adult_simple_res.py")
ADULT_COMPLEX_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests",
                                     "adult_complex", "adult_complex_res.py")

HEALTHCARE_BIAS = ['age_group', 'race']
COMPAS_BIAS = ['sex', 'race']

In [3]:
## The function to retrieve the generated code:
def get_sql_query(file_location, mode, materialize):
    PipelineInspector \
        .on_pipeline_from_py_file(file_location) \
        .execute_in_sql(dbms_connector=None, mode=mode, materialize=materialize)

    setup_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/create_table.sql")
    test_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")

    with setup_file.open("r") as file:
        set_up_code = file.read()

    with test_file.open("r") as file:
        test__code = file.read()

    return set_up_code, test__code

## Generated Code Showcase:
The code generated shows all the sql_code for the last call on the DBMS. The commented parts are the queries with which
the data for training, testing and validation were retrieved.

In [4]:
# The code generated using "CTE":
t0 = time.time()
setup_code, test_code = get_sql_query(ADULT_SIMPLE_FILE_PY_R, mode="CTE", materialize=False)
t1 = time.time()
print("\nTime spend " + str(t1 - t0))
print(setup_code + "\n" + test_code)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

2022-04-05 15:20:34.774215: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/lib64
2022-04-05 15:20:34.774233: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

pipeline start

Time spend 1.3218860626220703
CREATE TABLE adult_train_1_mlinid0 (
	"Unnamed: 0" INT,
	"age" INT,
	"workclass" VARCHAR(100),
	"fnlwgt" INT,
	"education" VARCHAR(100),
	"education-num" INT,
	"marital-status" VARCHAR(100),
	"occupation" VARCHAR(100),
	"relationship" VARCHAR(100),
	"race" VARCHAR(100),
	"sex" VARCHAR(100),
	"capital-gain" INT,
	"capital-loss" INT,
	"hours-per-week" INT,
	"native-country" VARCHAR(100),
	"income-per-year" VARCHAR(100)
);

COPY adult_train_1_mlinid0("Unnamed: 0", "age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income-per-year") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/test/monkeypatchingSQL/pipelines_for_tests/adult_complex/adult_train.csv' WITH (DELIMITER ',', NULL '', FORMAT CSV, HEADER TRUE);



WITH adult_train_1_mlinid0_ctid AS (
	SELECT *, ctid AS adult_train_1_mlinid0_ctid
	FROM adult_train_1_mlinid0
),
block_mlinid1_2 AS (
	SELECT *
	FROM adult_train_1_mlinid0_ctid
	WHERE NOT ("age" IS NULL OR "workclass" IS NULL OR "fnlwgt" IS NULL OR "education" IS NULL OR "education-num" IS NULL OR "marital-status" IS NULL OR "occupation" IS NULL OR "relationship" IS NULL OR "race" IS NULL OR "sex" IS NULL OR "capital-gain" IS NULL OR "capital-loss" IS NULL OR "hours-per-week" IS NULL OR "native-country" IS NULL OR "income-per-year" IS NULL)
),
block_mlinid2_3 AS (
	SELECT "income-per-year", adult_train_1_mlinid0_ctid
	FROM block_mlinid1_2
),
block_binarize_mlinid4_4 AS (
	SELECT (CASE
			WHEN ("income-per-year" = '>50K') THEN 0
			WHEN ("income-per-year" = '<=50K') THEN 1
		END) AS "income-per-year",
	"age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", adult_train_1_mlinid0_ctid
	FROM block_mlinid1_2
),
block_one_hot_fit_5_6 AS (
	SELECT "workclass",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("workclass")) FROM block_mlinid1_2) AS int) - ("rank")]) AS "workclass_one_hot"
		FROM (
		SELECT "workclass", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("workclass") FROM block_mlinid1_2) oh
	) one_hot_help
),
block_one_hot_fit_7_8 AS (
	SELECT "education",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("education")) FROM block_mlinid1_2) AS int) - ("rank")]) AS "education_one_hot"
		FROM (
		SELECT "education", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("education") FROM block_mlinid1_2) oh
	) one_hot_help
),
block_onehot_mlinid6_9 AS (
	SELECT
		"age",
		"workclass_one_hot" AS "workclass",
		"education_one_hot" AS "education",
		"hours-per-week",
		adult_train_1_mlinid0_ctid
	FROM block_one_hot_fit_5_6, block_one_hot_fit_7_8, block_mlinid1_2
	WHERE
	 	block_mlinid1_2."workclass" = block_one_hot_fit_5_6."workclass" AND
		block_mlinid1_2."education" = block_one_hot_fit_7_8."education"
),
block_std_scalar_fit_10_std_avg_11 AS (
	SELECT (SELECT AVG("age") FROM block_mlinid1_2) AS avg_col_std_scal,(SELECT STDDEV_POP("age") FROM block_mlinid1_2) AS std_dev_col_std_scal
),
block_std_scalar_fit_12_std_avg_13 AS (
	SELECT (SELECT AVG("hours-per-week") FROM block_mlinid1_2) AS avg_col_std_scal,(SELECT STDDEV_POP("hours-per-week") FROM block_mlinid1_2) AS std_dev_col_std_scal
),
block_stdscaler_mlinid7_14 AS (
	SELECT
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) AS "age",
		"workclass",
		"education",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) AS "hours-per-week",
		adult_train_1_mlinid0_ctid
	FROM block_mlinid1_2
),
block_column_transformer_lvl0_15 AS (

	SELECT
		"education_one_hot" AS "education",
		"workclass_one_hot" AS "workclass",
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) AS "age",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) AS "hours-per-week",
		adult_train_1_mlinid0_ctid
	FROM block_one_hot_fit_7_8, block_one_hot_fit_5_6, block_mlinid1_2
	WHERE
		block_mlinid1_2."education" = block_one_hot_fit_7_8."education" AND
		block_mlinid1_2."workclass" = block_one_hot_fit_5_6."workclass"
)
SELECT "education", "workclass", "age", "hours-per-week" FROM block_column_transformer_lvl0_15;

In [5]:
# The code generated using "VIEW":
t0 = time.time()
setup_code, test_code = get_sql_query(ADULT_SIMPLE_FILE_PY_R, mode="VIEW", materialize=False)
t1 = time.time()
print("\nTime spend " + str(t1 - t0))
view_no_mat = setup_code + "\n" + test_code
print(view_no_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

pipeline start

Time spend 0.06610774993896484
CREATE TABLE adult_train_16_mlinid0 (
	"Unnamed: 0" INT,
	"age" INT,
	"workclass" VARCHAR(100),
	"fnlwgt" INT,
	"education" VARCHAR(100),
	"education-num" INT,
	"marital-status" VARCHAR(100),
	"occupation" VARCHAR(100),
	"relationship" VARCHAR(100),
	"race" VARCHAR(100),
	"sex" VARCHAR(100),
	"capital-gain" INT,
	"capital-loss" INT,
	"hours-per-week" INT,
	"native-country" VARCHAR(100),
	"income-per-year" VARCHAR(100)
);

COPY adult_train_16_mlinid0("Unnamed: 0", "age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income-per-year") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/test/monkeypatchingSQL/pipelines_for_tests/adult_complex/adult_train.csv' WITH (DELIMITER ',', NULL '', FORMAT CSV, HEADER TRUE);



CREATE VIEW adult_train_16_mlinid0_ctid AS (
	SELECT *, ctid AS adult_train_16_mlinid0_ctid
	FROM adult_train_16_mlinid0
);
CREATE VIEW block_mlinid1_17 AS (
	SELECT *
	FROM adult_train_16_mlinid0_ctid
	WHERE NOT ("age" IS NULL OR "workclass" IS NULL OR "fnlwgt" IS NULL OR "education" IS NULL OR "education-num" IS NULL OR "marital-status" IS NULL OR "occupation" IS NULL OR "relationship" IS NULL OR "race" IS NULL OR "sex" IS NULL OR "capital-gain" IS NULL OR "capital-loss" IS NULL OR "hours-per-week" IS NULL OR "native-country" IS NULL OR "income-per-year" IS NULL)
);
CREATE VIEW block_mlinid2_18 AS (
	SELECT "income-per-year", adult_train_16_mlinid0_ctid
	FROM block_mlinid1_17
);
CREATE VIEW block_binarize_mlinid4_19 AS (
	SELECT (CASE
			WHEN ("income-per-year" = '>50K') THEN 0
			WHEN ("income-per-year" = '<=50K') THEN 1
		END) AS "income-per-year",
	"age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", adult_train_16_mlinid0_ctid
	FROM block_mlinid1_17
);
CREATE VIEW block_one_hot_fit_20_21 AS (
	SELECT "workclass",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("workclass")) FROM block_mlinid1_17) AS int) - ("rank")]) AS "workclass_one_hot"
		FROM (
		SELECT "workclass", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("workclass") FROM block_mlinid1_17) oh
	) one_hot_help
);
CREATE VIEW block_one_hot_fit_22_23 AS (
	SELECT "education",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("education")) FROM block_mlinid1_17) AS int) - ("rank")]) AS "education_one_hot"
		FROM (
		SELECT "education", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("education") FROM block_mlinid1_17) oh
	) one_hot_help
);
CREATE VIEW block_onehot_mlinid6_24 AS (
	SELECT
		"age",
		"workclass_one_hot" AS "workclass",
		"education_one_hot" AS "education",
		"hours-per-week",
		adult_train_16_mlinid0_ctid
	FROM block_one_hot_fit_20_21, block_one_hot_fit_22_23, block_mlinid1_17
	WHERE
	 	block_mlinid1_17."workclass" = block_one_hot_fit_20_21."workclass" AND
		block_mlinid1_17."education" = block_one_hot_fit_22_23."education"
);
CREATE VIEW block_std_scalar_fit_25_std_avg_26 AS (
	SELECT (SELECT AVG("age") FROM block_mlinid1_17) AS avg_col_std_scal,(SELECT STDDEV_POP("age") FROM block_mlinid1_17) AS std_dev_col_std_scal
);
CREATE VIEW block_std_scalar_fit_27_std_avg_28 AS (
	SELECT (SELECT AVG("hours-per-week") FROM block_mlinid1_17) AS avg_col_std_scal,(SELECT STDDEV_POP("hours-per-week") FROM block_mlinid1_17) AS std_dev_col_std_scal
);
CREATE VIEW block_stdscaler_mlinid7_29 AS (
	SELECT
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_25_std_avg_26)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_25_std_avg_26)) AS "age",
		"workclass",
		"education",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_27_std_avg_28)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_27_std_avg_28)) AS "hours-per-week",
		adult_train_16_mlinid0_ctid
	FROM block_mlinid1_17
);
CREATE VIEW block_column_transformer_lvl0_30 AS (

	SELECT
		"education_one_hot" AS "education",
		"workclass_one_hot" AS "workclass",
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_25_std_avg_26)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_25_std_avg_26)) AS "age",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_27_std_avg_28)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_27_std_avg_28)) AS "hours-per-week",
		adult_train_16_mlinid0_ctid
	FROM block_mlinid1_17, block_one_hot_fit_22_23, block_one_hot_fit_20_21
	WHERE
		block_mlinid1_17."education" = block_one_hot_fit_22_23."education" AND
		block_mlinid1_17."workclass" = block_one_hot_fit_20_21."workclass"
);

SELECT "education", "workclass", "age", "hours-per-week" FROM block_column_transformer_lvl0_30;

### Full example of the entire code generated using "VIEW" + "MATERIALIZE":

In [6]:
# The code generated using "VIEW" and "MATERIALIZED":
t0 = time.time()
setup_code_m, test_code_m = get_sql_query(ADULT_SIMPLE_FILE_PY_R, mode="VIEW", materialize=True)
t1 = time.time()
print("\nTime spend " + str(t1 - t0))
view_with_mat = setup_code_m + "\n" + test_code_m
print(view_with_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

pipeline start

Time spend 0.07538580894470215
CREATE TABLE adult_train_31_mlinid0 (
	"Unnamed: 0" INT,
	"age" INT,
	"workclass" VARCHAR(100),
	"fnlwgt" INT,
	"education" VARCHAR(100),
	"education-num" INT,
	"marital-status" VARCHAR(100),
	"occupation" VARCHAR(100),
	"relationship" VARCHAR(100),
	"race" VARCHAR(100),
	"sex" VARCHAR(100),
	"capital-gain" INT,
	"capital-loss" INT,
	"hours-per-week" INT,
	"native-country" VARCHAR(100),
	"income-per-year" VARCHAR(100)
);

COPY adult_train_31_mlinid0("Unnamed: 0", "age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income-per-year") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/test/monkeypatchingSQL/pipelines_for_tests/adult_complex/adult_train.csv' WITH (DELIMITER ',', NULL '', FORMAT CSV, HEADER TRUE);



CREATE VIEW adult_train_31_mlinid0_ctid AS (
	SELECT *, ctid AS adult_train_31_mlinid0_ctid
	FROM adult_train_31_mlinid0
);
CREATE VIEW block_mlinid1_32 AS (
	SELECT *
	FROM adult_train_31_mlinid0_ctid
	WHERE NOT ("age" IS NULL OR "workclass" IS NULL OR "fnlwgt" IS NULL OR "education" IS NULL OR "education-num" IS NULL OR "marital-status" IS NULL OR "occupation" IS NULL OR "relationship" IS NULL OR "race" IS NULL OR "sex" IS NULL OR "capital-gain" IS NULL OR "capital-loss" IS NULL OR "hours-per-week" IS NULL OR "native-country" IS NULL OR "income-per-year" IS NULL)
);
CREATE VIEW block_mlinid2_33 AS (
	SELECT "income-per-year", adult_train_31_mlinid0_ctid
	FROM block_mlinid1_32
);
CREATE VIEW block_binarize_mlinid4_34 AS (
	SELECT (CASE
			WHEN ("income-per-year" = '>50K') THEN 0
			WHEN ("income-per-year" = '<=50K') THEN 1
		END) AS "income-per-year",
	"age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", adult_train_31_mlinid0_ctid
	FROM block_mlinid1_32
);
CREATE MATERIALIZED VIEW block_mlinid1_32_materialized AS (
	SELECT *
	FROM adult_train_31_mlinid0_ctid
	WHERE NOT ("age" IS NULL OR "workclass" IS NULL OR "fnlwgt" IS NULL OR "education" IS NULL OR "education-num" IS NULL OR "marital-status" IS NULL OR "occupation" IS NULL OR "relationship" IS NULL OR "race" IS NULL OR "sex" IS NULL OR "capital-gain" IS NULL OR "capital-loss" IS NULL OR "hours-per-week" IS NULL OR "native-country" IS NULL OR "income-per-year" IS NULL)
);
CREATE MATERIALIZED VIEW block_one_hot_fit_35_36_materialized AS (
	SELECT "workclass",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("workclass")) FROM block_mlinid1_32_materialized) AS int) - ("rank")]) AS "workclass_one_hot"
		FROM (
		SELECT "workclass", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("workclass") FROM block_mlinid1_32_materialized) oh
	) one_hot_help
);
CREATE MATERIALIZED VIEW block_one_hot_fit_37_38_materialized AS (
	SELECT "education",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("education")) FROM block_mlinid1_32_materialized) AS int) - ("rank")]) AS "education_one_hot"
		FROM (
		SELECT "education", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("education") FROM block_mlinid1_32_materialized) oh
	) one_hot_help
);
CREATE VIEW block_onehot_mlinid6_39 AS (
	SELECT
		"age",
		"workclass_one_hot" AS "workclass",
		"education_one_hot" AS "education",
		"hours-per-week",
		adult_train_31_mlinid0_ctid
	FROM block_one_hot_fit_35_36_materialized, block_one_hot_fit_37_38_materialized, block_mlinid1_32_materialized
	WHERE
	 	block_mlinid1_32_materialized."workclass" = block_one_hot_fit_35_36_materialized."workclass" AND
		block_mlinid1_32_materialized."education" = block_one_hot_fit_37_38_materialized."education"
);
CREATE MATERIALIZED VIEW block_std_scalar_fit_40_std_avg_41_materialized AS (
	SELECT (SELECT AVG("age") FROM block_mlinid1_32_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("age") FROM block_mlinid1_32_materialized) AS std_dev_col_std_scal
);
CREATE MATERIALIZED VIEW block_std_scalar_fit_42_std_avg_43_materialized AS (
	SELECT (SELECT AVG("hours-per-week") FROM block_mlinid1_32_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("hours-per-week") FROM block_mlinid1_32_materialized) AS std_dev_col_std_scal
);
CREATE VIEW block_stdscaler_mlinid7_44 AS (
	SELECT
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_40_std_avg_41_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_40_std_avg_41_materialized)) AS "age",
		"workclass",
		"education",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_42_std_avg_43_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_42_std_avg_43_materialized)) AS "hours-per-week",
		adult_train_31_mlinid0_ctid
	FROM block_mlinid1_32_materialized
);
CREATE VIEW block_column_transformer_lvl0_45 AS (

	SELECT
		"education_one_hot" AS "education",
		"workclass_one_hot" AS "workclass",
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_40_std_avg_41_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_40_std_avg_41_materialized)) AS "age",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_42_std_avg_43_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_42_std_avg_43_materialized)) AS "hours-per-week",
		adult_train_31_mlinid0_ctid
	FROM block_one_hot_fit_35_36_materialized, block_one_hot_fit_37_38_materialized, block_mlinid1_32
	WHERE
		block_mlinid1_32."workclass" = block_one_hot_fit_35_36_materialized."workclass" AND
		block_mlinid1_32."education" = block_one_hot_fit_37_38_materialized."education"
);

SELECT "education", "workclass", "age", "hours-per-week" FROM block_column_transformer_lvl0_45;