# Benchmark pure pipeline:

Runtime comparison, of the translated pipelines. As well as showcase of the original and translated code.

In [8]:
import pathlib
import re
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root

### The code of the pipeline we will translate:

In [9]:
pipeline_code = cleandoc("""
    import os
    import pandas as pd
    from mlinspect.utils import get_project_root

    COUNTIES_OF_INTEREST = ['county2', 'county3']

    patients = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
        na_values='?')
    histories = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
        na_values='?')

    data = patients.merge(histories, on=['ssn'])
    complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
    data = data.merge(complications, on=['age_group'])
    data['label'] = data['complications'] > 1.2 * data['mean_complications']
    data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
    data = data[data['county'].isin(COUNTIES_OF_INTEREST)]
    """)


print(pipeline_code)

import os
import pandas as pd
from mlinspect.utils import get_project_root

COUNTIES_OF_INTEREST = ['county2', 'county3']

patients = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
    na_values='?')
histories = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
    na_values='?')

data = patients.merge(histories, on=['ssn'])
complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
data = data.merge(complications, on=['age_group'])
data['label'] = data['complications'] > 1.2 * data['mean_complications']
data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
data = data[data['county'].isin(COUNTIES_OF_INTEREST)]

In [10]:
## The function to retrieve the generated code:
def get_sql_query(pipeline_code, mode, materialize):
    PipelineInspector \
        .on_pipeline_from_string(pipeline_code) \
        .execute_in_sql(dbms_connector=None, mode=mode, materialize=materialize)

    setup_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/create_table.sql")
    test_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")

    with setup_file.open("r") as file:
        set_up_code = file.read()

    with test_file.open("r") as file:
        test__code = file.read()

    return set_up_code, test__code

### The code generated using "CTE":

In [11]:
setup_code, test_code = get_sql_query(pipeline_code, mode="CTE", materialize=False)

print(setup_code + "\n" + test_code)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code

CREATE TABLE patients_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_mlinid1("smoker", "complications", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



WITH patients_mlinid0_ctid AS (
	SELECT *, ctid AS patients_mlinid0_ctid
	FROM patients_mlinid0
),
histories_mlinid1_ctid AS (
	SELECT *, ctid AS histories_mlinid1_ctid
	FROM histories_mlinid1
),
block_mlinid2_57 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_mlinid1_ctid
	FROM patients_mlinid0_ctid tb1
	INNER JOIN histories_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
),
block_mlinid3_58 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_57
	GROUP BY "age_group"
),
block_mlinid4_59 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.histories_mlinid1_ctid, tb1.patients_mlinid0_ctid, tb2."mean_complications"
	FROM block_mlinid2_57 tb1
	INNER JOIN block_mlinid3_58 tb2 ON tb1."age_group" = tb2."age_group"
),
block_mlinid5_60 AS (
	SELECT "complications", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_59
),
block_mlinid6_61 AS (
	SELECT "mean_complications", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_59
),
block_mlinid7_63 AS (
	SELECT (1.2 * "mean_complications") AS op_62, histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_59
),
block_mlinid8_65 AS (
	SELECT (("complications" > (1.2 * "mean_complications"))) AS op_64, histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_59
),
block_mlinid9_66 AS (
	SELECT *, ("complications" > (1.2 * "mean_complications")) AS label
	FROM block_mlinid4_59
),
block_mlinid10_67 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid9_66
),
block_mlinid11_68 AS (
	SELECT "county", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid10_67
),
block_mlinid12_69 AS (
	SELECT ("county" IN ('county2', 'county3')), histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid10_67
),
block_mlinid13_70 AS (
	SELECT *
	FROM block_mlinid10_67
	WHERE ("county" IN ('county2', 'county3'))
)
SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label" FROM block_mlinid13_70;

### The code generated using "VIEW":

In [12]:
setup_code, test_code = get_sql_query(pipeline_code, mode="VIEW", materialize=False)

view_no_mat = setup_code + "\n" + test_code
print(view_no_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code

CREATE TABLE patients_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_mlinid1("smoker", "complications", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_mlinid0_ctid AS (
	SELECT *, ctid AS patients_mlinid0_ctid
	FROM patients_mlinid0
);
CREATE VIEW histories_mlinid1_ctid AS (
	SELECT *, ctid AS histories_mlinid1_ctid
	FROM histories_mlinid1
);
CREATE VIEW block_mlinid2_71 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_mlinid1_ctid
	FROM patients_mlinid0_ctid tb1
	INNER JOIN histories_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);
CREATE VIEW block_mlinid3_72 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_71
	GROUP BY "age_group"
);
CREATE VIEW block_mlinid4_73 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.histories_mlinid1_ctid, tb1.patients_mlinid0_ctid, tb2."mean_complications"
	FROM block_mlinid2_71 tb1
	INNER JOIN block_mlinid3_72 tb2 ON tb1."age_group" = tb2."age_group"
);
CREATE VIEW block_mlinid5_74 AS (
	SELECT "complications", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_73
);
CREATE VIEW block_mlinid6_75 AS (
	SELECT "mean_complications", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_73
);
CREATE VIEW block_mlinid7_77 AS (
	SELECT (1.2 * "mean_complications") AS op_76, histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_73
);
CREATE VIEW block_mlinid8_79 AS (
	SELECT (("complications" > (1.2 * "mean_complications"))) AS op_78, histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid4_73
);
CREATE VIEW block_mlinid9_80 AS (
	SELECT *, ("complications" > (1.2 * "mean_complications")) AS label
	FROM block_mlinid4_73
);
CREATE VIEW block_mlinid10_81 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid9_80
);
CREATE VIEW block_mlinid11_82 AS (
	SELECT "county", histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid10_81
);
CREATE VIEW block_mlinid12_83 AS (
	SELECT ("county" IN ('county2', 'county3')), histories_mlinid1_ctid, patients_mlinid0_ctid
	FROM block_mlinid10_81
);
CREATE VIEW block_mlinid13_84 AS (
	SELECT *
	FROM block_mlinid10_81
	WHERE ("county" IN ('county2', 'county3'))
);

SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label" FROM block_mlinid13_84;

### The code generated using "VIEW" + "MATERIALIZE":

Attention: the materialization will be done used internally to avoid redundancy in the inspection, so the result for
the entire pipeline will be the same (Besides IDs, as no reset is done between rounds!).

The performance difference can be seen here: example_to_sql/to_sql_pure_pipeline_benchmark.py

In [13]:
setup_code_m, test_code_m = get_sql_query(pipeline_code, mode="VIEW", materialize=True)
view_with_mat = setup_code_m + "\n" + test_code_m
print("The results are the same (besides IDs): " + str(re.sub('\d', '', view_no_mat) == re.sub('\d', '', view_with_mat)))

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code

The results are the same (besides IDs):True

## Presentation of the benchmark results for executing the translated pipelines:

### The original results:
**Pipeline runtimes**:

<img alt="p_r" src="plots/HealthcarePurePipeComparison.png" width="200"/>

## When also considering "SimpleImputer" and "OneHotEncoder" from scikit-learn:
**Pipeline runtimes**:

<img alt="p_r" src="plots/HealthcarePurePipeComparisonSimpImpOneHot.png" width="200"/>