# Benchmark pure pipeline:

Runtime comparison, of the translated pipelines. As well as showcase of the original and translated code.

In [45]:
import pathlib
import re
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root

### The code of the pipeline we will translate:

In [46]:
pipeline_code = cleandoc("""
    import warnings
    import os
    import pandas as pd
    from sklearn.compose import ColumnTransformer
    from sklearn.impute import SimpleImputer
    from sklearn.model_selection import train_test_split
    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import OneHotEncoder, StandardScaler
    from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, \
        create_model
    from mlinspect.utils import get_project_root

    COUNTIES_OF_INTEREST = ['county2', 'county3']

    patients = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
        na_values='?')
    histories = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
        na_values='?')

    data = patients.merge(histories, on=['ssn'])
    complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
    data = data.merge(complications, on=['age_group'])
    data['label'] = data['complications'] > 1.2 * data['mean_complications']
    data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
    data = data[data['county'].isin(COUNTIES_OF_INTEREST)]
    impute_and_one_hot_encode = Pipeline([
        ('impute', SimpleImputer(strategy='most_frequent')),
        ('encode', OneHotEncoder(sparse=False, handle_unknown='ignore'))
    ])
    featurisation = ColumnTransformer(transformers=[
        ("impute_and_one_hot_encode", impute_and_one_hot_encode, ['smoker', 'county', 'race']),
        # ('word2vec', MyW2VTransformer(min_count=2), ['last_name']),
        ('numeric', StandardScaler(), ['num_children', 'income']),
    ], remainder='drop')
    neural_net = MyKerasClassifier(build_fn=create_model, epochs=10, batch_size=1, verbose=0)
    pipeline = Pipeline([
        ('features', featurisation),
        ('learner', neural_net)
    ])
    train_data, test_data = train_test_split(data)
    model = pipeline.fit(train_data, train_data['label'])
    print("Mean accuracy: {}".format(model.score(test_data, test_data['label'])))
""")

print(pipeline_code)

import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier,         create_model
from mlinspect.utils import get_project_root

COUNTIES_OF_INTEREST = ['county2', 'county3']

patients = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
    na_values='?')
histories = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
    na_values='?')

data = patients.merge(histories, on=['ssn'])
complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
data = data.merge(complications, on=['age_group'])
data['label'] = data['complications'] > 1.2 * data['mean_complications']
data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
data = data[data['county'].isin(COUNTIES_OF_INTEREST)]
impute_and_one_hot_encode = Pipeline([
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('encode', OneHotEncoder(sparse=False, handle_unknown='ignore'))
])
featurisation = ColumnTransformer(transformers=[
    ("impute_and_one_hot_encode", impute_and_one_hot_encode, ['smoker', 'county', 'race']),
    # ('word2vec', MyW2VTransformer(min_count=2), ['last_name']),
    ('numeric', StandardScaler(), ['num_children', 'income']),
], remainder='drop')
neural_net = MyKerasClassifier(build_fn=create_model, epochs=10, batch_size=1, verbose=0)
pipeline = Pipeline([
    ('features', featurisation),
    ('learner', neural_net)
])
train_data, test_data = train_test_split(data)
model = pipeline.fit(train_data, train_data['label'])
print("Mean accuracy: {}".format(model.score(test_data, test_data['label'])))

In [47]:
## The function to retrieve the generated code:
def get_sql_query(pipeline_code, mode, materialize):
    PipelineInspector \
        .on_pipeline_from_string(pipeline_code) \
        .execute_in_sql(dbms_connector=None, mode=mode, materialize=materialize)

    setup_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/create_table.sql")
    test_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")

    with setup_file.open("r") as file:
        set_up_code = file.read()

    with test_file.open("r") as file:
        test__code = file.read()

    return set_up_code, test__code

## Generated Code Showcase:
The code generated shows all the sql_code for the last call on the DBMS. The commented parts are the queries with which
the data for training, testing and validation were retrieved.

In [48]:
# The code generated using "CTE":
# setup_code, test_code = get_sql_query(pipeline_code, mode="CTE", materialize=False)
# print(setup_code + "\n" + test_code)

In [49]:
# The code generated using "VIEW":
# setup_code, test_code = get_sql_query(pipeline_code, mode="VIEW", materialize=False)
# view_no_mat = setup_code + "\n" + test_code
# print(view_no_mat)

### Full example of the ENTIRE code generated using "VIEW" + "MATERIALIZE" (includes non-executed sub-queries):

(The performance (materialized vs non-materialized) can be seen in: example_to_sql/to_sql_pure_pipeline_benchmark.py)

In [50]:
setup_code_m, test_code_m = get_sql_query(pipeline_code, mode="VIEW", materialize=True)
view_with_mat = setup_code_m + "\n" + test_code_m
print(view_with_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code

Mean accuracy:
CREATE TABLE patients_151_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_151_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_152_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_152_mlinid1("smoker", "complications", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_151_mlinid0_ctid AS (
	SELECT *, ctid AS patients_151_mlinid0_ctid
	FROM patients_151_mlinid0
);
CREATE VIEW histories_152_mlinid1_ctid AS (
	SELECT *, ctid AS histories_152_mlinid1_ctid
	FROM histories_152_mlinid1
);
CREATE VIEW block_mlinid2_153 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_151_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_152_mlinid1_ctid
	FROM patients_151_mlinid0_ctid tb1
	INNER JOIN histories_152_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);
CREATE VIEW block_mlinid3_154 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_153
	GROUP BY "age_group"
);
CREATE VIEW block_mlinid4_155 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_151_mlinid0_ctid, tb1.histories_152_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_153 tb1
	INNER JOIN block_mlinid3_154 tb2 ON tb1."age_group" = tb2."age_group"
);
CREATE VIEW block_mlinid5_156 AS (
	SELECT "complications", patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_mlinid4_155
);
CREATE VIEW block_mlinid6_157 AS (
	SELECT "mean_complications", patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_mlinid4_155
);
CREATE VIEW block_mlinid7_159 AS (
	SELECT 1.2 * "mean_complications" AS op_158, patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_mlinid4_155
);
CREATE VIEW block_mlinid8_161 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_160, patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_mlinid4_155
);
CREATE VIEW block_mlinid9_162 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_155
);
CREATE VIEW block_mlinid10_163 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_mlinid9_162
);
CREATE VIEW block_mlinid11_164 AS (
	SELECT "county", patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_mlinid10_163
);
CREATE VIEW block_mlinid12_165 AS (
	SELECT "county" IN ('county2', 'county3'), patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_mlinid10_163
);
CREATE VIEW block_mlinid13_166 AS (
	SELECT *
	FROM block_mlinid10_163
	WHERE "county" IN ('county2', 'county3')
);
CREATE VIEW block_train_split_mlinid14_167 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_166 ORDER BY RANDOM()) block_mlinid13_166
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_166)
);
CREATE VIEW block_test_split_mlinid14_168 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_166 ORDER BY RANDOM()) block_mlinid13_166
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_166)
);
CREATE VIEW block_mlinid16_169 AS (
	SELECT "label", patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_train_split_mlinid14_167
);
CREATE VIEW block_impute_fit_170_count_171 AS (
	SELECT "smoker", COUNT(*) AS count
	FROM block_train_split_mlinid14_167
	GROUP BY "smoker"
);
CREATE VIEW block_impute_fit_172_count_173 AS (
	SELECT "county", COUNT(*) AS count
	FROM block_train_split_mlinid14_167
	GROUP BY "county"
);
CREATE VIEW block_impute_fit_174_count_175 AS (
	SELECT "race", COUNT(*) AS count
	FROM block_train_split_mlinid14_167
	GROUP BY "race"
);
CREATE VIEW block_impute_mlinid18_176 AS (
	SELECT
		COALESCE("smoker", (SELECT "smoker" FROM block_impute_fit_170_count_171 WHERE count = (SELECT MAX(count) FROM block_impute_fit_170_count_171))) AS "smoker",
		COALESCE("county", (SELECT "county" FROM block_impute_fit_172_count_173 WHERE count = (SELECT MAX(count) FROM block_impute_fit_172_count_173))) AS "county",
		"num_children",
		COALESCE("race", (SELECT "race" FROM block_impute_fit_174_count_175 WHERE count = (SELECT MAX(count) FROM block_impute_fit_174_count_175))) AS "race",
		"income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_train_split_mlinid14_167
);
CREATE VIEW block_one_hot_fit_177_178 AS (
	select "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ cast((select count(distinct("smoker")) from block_impute_mlinid18_176) as int) - ("rank")]) as "smoker_one_hot"
		from (
		select "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		from (select distinct("smoker") from block_impute_mlinid18_176) oh) one_hot_help
);
CREATE VIEW block_one_hot_fit_179_180 AS (
	select "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ cast((select count(distinct("county")) from block_impute_mlinid18_176) as int) - ("rank")]) as "county_one_hot"
		from (
		select "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		from (select distinct("county") from block_impute_mlinid18_176) oh) one_hot_help
);
CREATE VIEW block_one_hot_fit_181_182 AS (
	select "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ cast((select count(distinct("race")) from block_impute_mlinid18_176) as int) - ("rank")]) as "race_one_hot"
		from (
		select "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		from (select distinct("race") from block_impute_mlinid18_176) oh) one_hot_help
);
CREATE VIEW block_onehot_mlinid19_183 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_one_hot_fit_177_178, block_one_hot_fit_179_180, block_one_hot_fit_181_182, block_impute_mlinid18_176
	WHERE
	 	block_impute_mlinid18_176."smoker" = block_one_hot_fit_177_178."smoker" AND
		block_impute_mlinid18_176."county" = block_one_hot_fit_179_180."county" AND
		block_impute_mlinid18_176."race" = block_one_hot_fit_181_182."race"
);
CREATE VIEW block_std_scalar_fit_184_step_size_185 AS (
	SELECT (SELECT AVG("num_children") FROM block_onehot_mlinid19_183) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_onehot_mlinid19_183) AS std_dev_col_std_scal
);
CREATE VIEW block_std_scalar_fit_186_step_size_187 AS (
	SELECT (SELECT AVG("income") FROM block_onehot_mlinid19_183) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_onehot_mlinid19_183) AS std_dev_col_std_scal
);
CREATE VIEW block_stdscaler_mlinid20_188 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) AS "income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_onehot_mlinid19_183
);
CREATE VIEW block_col_transf_lvl0_mlinid17_189 AS (
	SELECT
		COALESCE("smoker", (SELECT "smoker" FROM block_impute_fit_170_count_171 WHERE count = (SELECT MAX(count) FROM block_impute_fit_170_count_171))) AS "smoker",
		COALESCE("county", (SELECT "county" FROM block_impute_fit_172_count_173 WHERE count = (SELECT MAX(count) FROM block_impute_fit_172_count_173))) AS "county",
		COALESCE("race", (SELECT "race" FROM block_impute_fit_174_count_175 WHERE count = (SELECT MAX(count) FROM block_impute_fit_174_count_175))) AS "race",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) AS "num_children",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) AS "income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_train_split_mlinid14_167
);

CREATE VIEW block_col_transf_lvl1_mlinid17_190 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_one_hot_fit_181_182, block_col_transf_lvl0_mlinid17_189, block_one_hot_fit_177_178, block_one_hot_fit_179_180
	WHERE
		block_col_transf_lvl0_mlinid17_189."smoker" = block_one_hot_fit_177_178."smoker" AND
		block_col_transf_lvl0_mlinid17_189."county" = block_one_hot_fit_179_180."county" AND
		block_col_transf_lvl0_mlinid17_189."race" = block_one_hot_fit_181_182."race"
);


/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_col_transf_lvl1_mlinid17_190;
*/

/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_col_transf_lvl1_mlinid17_190
*/
CREATE VIEW block_mlinid26_191 AS (
	SELECT "label", patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_test_split_mlinid14_168
);
CREATE VIEW block_impute_mlinid193_194 AS (
	SELECT
		COALESCE("smoker", (SELECT "smoker" FROM block_impute_fit_170_count_171 WHERE count = (SELECT MAX(count) FROM block_impute_fit_170_count_171))) AS "smoker",
		COALESCE("county", (SELECT "county" FROM block_impute_fit_172_count_173 WHERE count = (SELECT MAX(count) FROM block_impute_fit_172_count_173))) AS "county",
		"num_children",
		COALESCE("race", (SELECT "race" FROM block_impute_fit_174_count_175 WHERE count = (SELECT MAX(count) FROM block_impute_fit_174_count_175))) AS "race",
		"income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_test_split_mlinid14_168
);
CREATE VIEW block_onehot_mlinid195_196 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_one_hot_fit_177_178, block_one_hot_fit_179_180, block_one_hot_fit_181_182, block_impute_mlinid193_194
	WHERE
	 	block_impute_mlinid193_194."smoker" = block_one_hot_fit_177_178."smoker" AND
		block_impute_mlinid193_194."county" = block_one_hot_fit_179_180."county" AND
		block_impute_mlinid193_194."race" = block_one_hot_fit_181_182."race"
);
CREATE VIEW block_stdscaler_mlinid197_198 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) AS "income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_onehot_mlinid195_196
);
CREATE VIEW block_col_transf_lvl0_mlinid192_199 AS (
	SELECT
		COALESCE("smoker", (SELECT "smoker" FROM block_impute_fit_170_count_171 WHERE count = (SELECT MAX(count) FROM block_impute_fit_170_count_171))) AS "smoker",
		COALESCE("county", (SELECT "county" FROM block_impute_fit_172_count_173 WHERE count = (SELECT MAX(count) FROM block_impute_fit_172_count_173))) AS "county",
		COALESCE("race", (SELECT "race" FROM block_impute_fit_174_count_175 WHERE count = (SELECT MAX(count) FROM block_impute_fit_174_count_175))) AS "race",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_184_step_size_185)) AS "num_children",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_186_step_size_187)) AS "income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_test_split_mlinid14_168
);

CREATE VIEW block_col_transf_lvl1_mlinid192_200 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_151_mlinid0_ctid, histories_152_mlinid1_ctid
	FROM block_col_transf_lvl0_mlinid192_199, block_one_hot_fit_181_182, block_one_hot_fit_177_178, block_one_hot_fit_179_180
	WHERE
		block_col_transf_lvl0_mlinid192_199."smoker" = block_one_hot_fit_177_178."smoker" AND
		block_col_transf_lvl0_mlinid192_199."county" = block_one_hot_fit_179_180."county" AND
		block_col_transf_lvl0_mlinid192_199."race" = block_one_hot_fit_181_182."race"
);


/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_col_transf_lvl1_mlinid192_200;
*/

/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_col_transf_lvl1_mlinid192_200
*/

SELECT "label" FROM block_mlinid26_191

## Presentation of the benchmark results for executing the translated pipelines:

### The original results:
**Pipeline runtimes**:

<img alt="p_r" src="plots/HealthcarePurePipeComparisonOnlyPandas.png" width="200"/>

## When also considering "SimpleImputer" and "OneHotEncoder" from scikit-learn:
**Pipeline runtimes**:

<img alt="p_r" src="plots/HealthcarePurePipeComparisonFull.png" width="200"/>