# Benchmark pure pipeline:

Runtime comparison, of the translated pipelines. As well as showcase of the original and translated code.

In [1]:
import pathlib
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root

### The code of the "healthcare" pipeline that will be translated:

In [2]:
# No model training:
HEALTHCARE_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests",
                                    "healthcare", "healthcare_res.py")
COMPAS_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests", "compas",
                              "compas_res.py")
ADULT_SIMPLE_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests",
                                    "adult_simple", "adult_simple_res.py")
ADULT_COMPLEX_FILE_PY_R = os.path.join(str(get_project_root()), "test", "monkeypatchingSQL", "pipelines_for_tests",
                                     "adult_complex", "adult_complex_res.py")

HEALTHCARE_BIAS = ['age_group', 'race']
COMPAS_BIAS = ['sex', 'race']

/home/maximilian/TUM/thesis/scalerandi/mlinspect/test/monkeypatchingSQL/pipelines_for_tests/adult_simple/adult_simple_res.py

In [5]:
## The function to retrieve the generated code:
def get_sql_query(file_location, mode, materialize):
    PipelineInspector \
        .on_pipeline_from_py_file(file_location) \
        .execute_in_sql(dbms_connector=None, mode=mode, materialize=materialize)

    setup_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/create_table.sql")
    test_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")

    with setup_file.open("r") as file:
        set_up_code = file.read()

    with test_file.open("r") as file:
        test__code = file.read()

    return set_up_code, test__code

## Generated Code Showcase:
The code generated shows all the sql_code for the last call on the DBMS. The commented parts are the queries with which
the data for training, testing and validation were retrieved.

In [6]:
# The code generated using "CTE":
setup_code, test_code = get_sql_query(ADULT_SIMPLE_FILE_PY_R, mode="CTE", materialize=False)
print(setup_code + "\n" + test_code)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

2022-02-05 13:56:58.201925: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/lib64
2022-02-05 13:56:58.201998: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

pipeline start
CREATE TABLE adult_train_1_mlinid0 (
	"Unnamed: 0" INT,
	"age" INT,
	"workclass" VARCHAR(100),
	"fnlwgt" INT,
	"education" VARCHAR(100),
	"education-num" INT,
	"marital-status" VARCHAR(100),
	"occupation" VARCHAR(100),
	"relationship" VARCHAR(100),
	"race" VARCHAR(100),
	"sex" VARCHAR(100),
	"capital-gain" INT,
	"capital-loss" INT,
	"hours-per-week" INT,
	"native-country" VARCHAR(100),
	"income-per-year" VARCHAR(100)
);

COPY adult_train_1_mlinid0("Unnamed: 0", "age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income-per-year") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/test/monkeypatchingSQL/pipelines_for_tests/adult_complex/adult_train.csv' WITH (DELIMITER ',', NULL '', FORMAT CSV, HEADER TRUE);



WITH adult_train_1_mlinid0_ctid AS (
	SELECT *, ctid AS adult_train_1_mlinid0_ctid
	FROM adult_train_1_mlinid0
),
block_mlinid1_2 AS (
	SELECT *
	FROM adult_train_1_mlinid0_ctid
	WHERE NOT ("age" IS NULL OR "workclass" IS NULL OR "fnlwgt" IS NULL OR "education" IS NULL OR "education-num" IS NULL OR "marital-status" IS NULL OR "occupation" IS NULL OR "relationship" IS NULL OR "race" IS NULL OR "sex" IS NULL OR "capital-gain" IS NULL OR "capital-loss" IS NULL OR "hours-per-week" IS NULL OR "native-country" IS NULL OR "income-per-year" IS NULL)
),
block_mlinid2_3 AS (
	SELECT "income-per-year", adult_train_1_mlinid0_ctid
	FROM block_mlinid1_2
),
block_binarize_mlinid4_4 AS (
	SELECT (CASE
			WHEN ("income-per-year" = '>50K') THEN 0
			WHEN ("income-per-year" = '<=50K') THEN 1
		END) AS "income-per-year",
	"age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", adult_train_1_mlinid0_ctid
	FROM block_mlinid1_2
),
block_one_hot_fit_5_6 AS (
	SELECT "workclass",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("workclass")) FROM block_mlinid1_2) AS int) - ("rank")]) AS "workclass_one_hot"
		FROM (
		SELECT "workclass", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("workclass") FROM block_mlinid1_2) oh
	) one_hot_help
),
block_one_hot_fit_7_8 AS (
	SELECT "education",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("education")) FROM block_mlinid1_2) AS int) - ("rank")]) AS "education_one_hot"
		FROM (
		SELECT "education", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("education") FROM block_mlinid1_2) oh
	) one_hot_help
),
block_onehot_mlinid6_9 AS (
	SELECT
		"age",
		"workclass_one_hot" AS "workclass",
		"education_one_hot" AS "education",
		"hours-per-week",
		adult_train_1_mlinid0_ctid
	FROM block_one_hot_fit_5_6, block_one_hot_fit_7_8, block_mlinid1_2
	WHERE
	 	block_mlinid1_2."workclass" = block_one_hot_fit_5_6."workclass" AND
		block_mlinid1_2."education" = block_one_hot_fit_7_8."education"
),
block_std_scalar_fit_10_std_avg_11 AS (
	SELECT (SELECT AVG("age") FROM block_mlinid1_2) AS avg_col_std_scal,(SELECT STDDEV_POP("age") FROM block_mlinid1_2) AS std_dev_col_std_scal
),
block_std_scalar_fit_12_std_avg_13 AS (
	SELECT (SELECT AVG("hours-per-week") FROM block_mlinid1_2) AS avg_col_std_scal,(SELECT STDDEV_POP("hours-per-week") FROM block_mlinid1_2) AS std_dev_col_std_scal
),
block_stdscaler_mlinid7_14 AS (
	SELECT
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) AS "age",
		"workclass",
		"education",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) AS "hours-per-week",
		adult_train_1_mlinid0_ctid
	FROM block_mlinid1_2
),
block_column_transformer_lvl0_15 AS (

	SELECT
		"education_one_hot" AS "education",
		"workclass_one_hot" AS "workclass",
		(("age" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_10_std_avg_11)) AS "age",
		(("hours-per-week" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_12_std_avg_13)) AS "hours-per-week",
		adult_train_1_mlinid0_ctid
	FROM block_mlinid1_2, block_one_hot_fit_5_6, block_one_hot_fit_7_8
	WHERE
		block_mlinid1_2."workclass" = block_one_hot_fit_5_6."workclass" AND
		block_mlinid1_2."education" = block_one_hot_fit_7_8."education"
)
SELECT "education", "workclass", "age", "hours-per-week" FROM block_column_transformer_lvl0_15;

In [11]:
# The code generated using "VIEW":
setup_code, test_code = get_sql_query(ADULT_SIMPLE_FILE_PY_R, mode="VIEW", materialize=False)
view_no_mat = setup_code + "\n" + test_code
print(view_no_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

Mean accuracy:
CREATE TABLE patients_201_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_201_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_202_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_202_mlinid1("smoker", "complications", "ssn") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_201_mlinid0_ctid AS (
	SELECT *, ctid AS patients_201_mlinid0_ctid
	FROM patients_201_mlinid0
);
CREATE VIEW histories_202_mlinid1_ctid AS (
	SELECT *, ctid AS histories_202_mlinid1_ctid
	FROM histories_202_mlinid1
);
CREATE VIEW block_mlinid2_203 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_201_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_202_mlinid1_ctid
	FROM patients_201_mlinid0_ctid tb1
	INNER JOIN histories_202_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);
CREATE VIEW block_mlinid3_204 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_203
	GROUP BY "age_group"
);
CREATE VIEW block_mlinid4_205 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_201_mlinid0_ctid, tb1.histories_202_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_203 tb1
	INNER JOIN block_mlinid3_204 tb2 ON tb1."age_group" = tb2."age_group"
);
CREATE VIEW block_mlinid5_206 AS (
	SELECT "complications", patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_mlinid4_205
);
CREATE VIEW block_mlinid6_207 AS (
	SELECT "mean_complications", patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_mlinid4_205
);
CREATE VIEW block_mlinid7_209 AS (
	SELECT 1.2 * "mean_complications" AS op_208, patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_mlinid4_205
);
CREATE VIEW block_mlinid8_211 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_210, patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_mlinid4_205
);
CREATE VIEW block_mlinid9_212 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_205
);
CREATE VIEW block_mlinid10_213 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_mlinid9_212
);
CREATE VIEW block_mlinid11_214 AS (
	SELECT "county", patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_mlinid10_213
);
CREATE VIEW block_mlinid12_215 AS (
	SELECT "county" IN ('county2', 'county3'), patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_mlinid10_213
);
CREATE VIEW block_mlinid13_216 AS (
	SELECT *
	FROM block_mlinid10_213
	WHERE "county" IN ('county2', 'county3')
);
CREATE VIEW block_train_split_mlinid14_217 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_216 ORDER BY RANDOM()) block_mlinid13_216
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_216)
);
CREATE VIEW block_test_split_mlinid14_218 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_216 ORDER BY RANDOM()) block_mlinid13_216
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_216)
);
CREATE VIEW block_mlinid16_219 AS (
	SELECT "label", patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_train_split_mlinid14_217
);
CREATE VIEW block_impute_fit_220_most_frequent_221 AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_217
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_fit_222_most_frequent_223 AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_217
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_fit_224_most_frequent_225 AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_217
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_mlinid18_226 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_220_most_frequent_221)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_222_most_frequent_223)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_224_most_frequent_225)) AS "race",
		"income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_train_split_mlinid14_217
);
CREATE VIEW block_one_hot_fit_227_228 AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_226) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_226) oh
	) one_hot_help
);
CREATE VIEW block_one_hot_fit_229_230 AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_226) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_226) oh
	) one_hot_help
);
CREATE VIEW block_one_hot_fit_231_232 AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_226) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_226) oh
	) one_hot_help
);
CREATE VIEW block_onehot_mlinid19_233 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_one_hot_fit_227_228, block_one_hot_fit_229_230, block_one_hot_fit_231_232, block_impute_mlinid18_226
	WHERE
	 	block_impute_mlinid18_226."smoker" = block_one_hot_fit_227_228."smoker" AND
		block_impute_mlinid18_226."county" = block_one_hot_fit_229_230."county" AND
		block_impute_mlinid18_226."race" = block_one_hot_fit_231_232."race"
);
CREATE VIEW block_std_scalar_fit_234_std_avg_235 AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_217) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_217) AS std_dev_col_std_scal
);
CREATE VIEW block_std_scalar_fit_236_std_avg_237 AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_217) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_217) AS std_dev_col_std_scal
);
CREATE VIEW block_stdscaler_mlinid20_238 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) AS "income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_train_split_mlinid14_217
);
CREATE VIEW block_column_transformer_lvl1_240 AS (
	WITH lvl0_column_transformer_239 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_220_most_frequent_221)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_222_most_frequent_223)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_224_most_frequent_225)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) AS "income",
			patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
		FROM block_train_split_mlinid14_217
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_one_hot_fit_227_228, block_one_hot_fit_231_232, block_one_hot_fit_229_230, lvl0_column_transformer_239
	WHERE
		lvl0_column_transformer_239."smoker" = block_one_hot_fit_227_228."smoker" AND
		lvl0_column_transformer_239."race" = block_one_hot_fit_231_232."race" AND
		lvl0_column_transformer_239."county" = block_one_hot_fit_229_230."county"
);

/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_240 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_219 ORDER BY index_mlinspect;
*/
CREATE VIEW block_mlinid26_241 AS (
	SELECT "label", patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_test_split_mlinid14_218
);
CREATE VIEW block_impute_mlinid243_244 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_220_most_frequent_221)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_222_most_frequent_223)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_224_most_frequent_225)) AS "race",
		"income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_test_split_mlinid14_218
);
CREATE VIEW block_onehot_mlinid245_246 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_one_hot_fit_227_228, block_one_hot_fit_229_230, block_one_hot_fit_231_232, block_impute_mlinid243_244
	WHERE
	 	block_impute_mlinid243_244."smoker" = block_one_hot_fit_227_228."smoker" AND
		block_impute_mlinid243_244."county" = block_one_hot_fit_229_230."county" AND
		block_impute_mlinid243_244."race" = block_one_hot_fit_231_232."race"
);
CREATE VIEW block_stdscaler_mlinid247_248 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) AS "income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_test_split_mlinid14_218
);
CREATE VIEW block_column_transformer_lvl1_250 AS (
	WITH lvl0_column_transformer_249 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_220_most_frequent_221)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_222_most_frequent_223)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_224_most_frequent_225)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_234_std_avg_235)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_236_std_avg_237)) AS "income",
			patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
		FROM block_test_split_mlinid14_218
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_201_mlinid0_ctid, histories_202_mlinid1_ctid
	FROM block_one_hot_fit_227_228, block_one_hot_fit_231_232, block_one_hot_fit_229_230, lvl0_column_transformer_249
	WHERE
		lvl0_column_transformer_249."race" = block_one_hot_fit_231_232."race" AND
		lvl0_column_transformer_249."county" = block_one_hot_fit_229_230."county" AND
		lvl0_column_transformer_249."smoker" = block_one_hot_fit_227_228."smoker"
);

/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_250 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_241 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_241 ORDER BY index_mlinspect

### Full example of the entire code generated using "VIEW" + "MATERIALIZE":

In [12]:
# The code generated using "VIEW" and "MATERIALIZED":
setup_code_m, test_code_m = get_sql_query(ADULT_SIMPLE_FILE_PY_R, mode="VIEW", materialize=True)
view_with_mat = setup_code_m + "\n" + test_code_m
print(view_with_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

Mean accuracy:
CREATE TABLE patients_251_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_251_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_252_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_252_mlinid1("smoker", "complications", "ssn") FROM '/home/maximilian/TUM/thesis/scalerandi/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_251_mlinid0_ctid AS (
	SELECT *, ctid AS patients_251_mlinid0_ctid
	FROM patients_251_mlinid0
);
CREATE VIEW histories_252_mlinid1_ctid AS (
	SELECT *, ctid AS histories_252_mlinid1_ctid
	FROM histories_252_mlinid1
);
CREATE VIEW block_mlinid2_253 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_251_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_252_mlinid1_ctid
	FROM patients_251_mlinid0_ctid tb1
	INNER JOIN histories_252_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);
CREATE VIEW block_mlinid3_254 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_253
	GROUP BY "age_group"
);
CREATE VIEW block_mlinid4_255 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_251_mlinid0_ctid, tb1.histories_252_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_253 tb1
	INNER JOIN block_mlinid3_254 tb2 ON tb1."age_group" = tb2."age_group"
);
CREATE VIEW block_mlinid5_256 AS (
	SELECT "complications", patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_mlinid4_255
);
CREATE VIEW block_mlinid6_257 AS (
	SELECT "mean_complications", patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_mlinid4_255
);
CREATE VIEW block_mlinid7_259 AS (
	SELECT 1.2 * "mean_complications" AS op_258, patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_mlinid4_255
);
CREATE VIEW block_mlinid8_261 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_260, patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_mlinid4_255
);
CREATE VIEW block_mlinid9_262 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_255
);
CREATE VIEW block_mlinid10_263 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_mlinid9_262
);
CREATE VIEW block_mlinid11_264 AS (
	SELECT "county", patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_mlinid10_263
);
CREATE VIEW block_mlinid12_265 AS (
	SELECT "county" IN ('county2', 'county3'), patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_mlinid10_263
);
CREATE VIEW block_mlinid13_266 AS (
	SELECT *
	FROM block_mlinid10_263
	WHERE "county" IN ('county2', 'county3')
);
CREATE VIEW block_train_split_mlinid14_267 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_266 ORDER BY RANDOM()) block_mlinid13_266
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_266)
);
CREATE VIEW block_test_split_mlinid14_268 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_266 ORDER BY RANDOM()) block_mlinid13_266
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_266)
);
CREATE VIEW block_mlinid16_269 AS (
	SELECT "label", patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_train_split_mlinid14_267
);
CREATE MATERIALIZED VIEW block_train_split_mlinid14_267_materialized AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_266 ORDER BY RANDOM()) block_mlinid13_266
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_266)
);
CREATE MATERIALIZED VIEW block_impute_fit_270_most_frequent_271_materialized AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_267_materialized
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE MATERIALIZED VIEW block_impute_fit_272_most_frequent_273_materialized AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_267_materialized
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE MATERIALIZED VIEW block_impute_fit_274_most_frequent_275_materialized AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_267_materialized
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_mlinid18_276 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_270_most_frequent_271_materialized)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_272_most_frequent_273_materialized)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_274_most_frequent_275_materialized)) AS "race",
		"income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_train_split_mlinid14_267_materialized
);
CREATE MATERIALIZED VIEW block_one_hot_fit_277_278_materialized AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_276) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_276) oh
	) one_hot_help
);
CREATE MATERIALIZED VIEW block_one_hot_fit_279_280_materialized AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_276) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_276) oh
	) one_hot_help
);
CREATE MATERIALIZED VIEW block_one_hot_fit_281_282_materialized AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_276) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_276) oh
	) one_hot_help
);
CREATE VIEW block_onehot_mlinid19_283 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_one_hot_fit_277_278_materialized, block_one_hot_fit_279_280_materialized, block_one_hot_fit_281_282_materialized, block_impute_mlinid18_276
	WHERE
	 	block_impute_mlinid18_276."smoker" = block_one_hot_fit_277_278_materialized."smoker" AND
		block_impute_mlinid18_276."county" = block_one_hot_fit_279_280_materialized."county" AND
		block_impute_mlinid18_276."race" = block_one_hot_fit_281_282_materialized."race"
);
CREATE MATERIALIZED VIEW block_std_scalar_fit_284_std_avg_285_materialized AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_267_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_267_materialized) AS std_dev_col_std_scal
);
CREATE MATERIALIZED VIEW block_std_scalar_fit_286_std_avg_287_materialized AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_267_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_267_materialized) AS std_dev_col_std_scal
);
CREATE VIEW block_stdscaler_mlinid20_288 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) AS "income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_train_split_mlinid14_267_materialized
);
CREATE VIEW block_column_transformer_lvl1_290 AS (
	WITH lvl0_column_transformer_289 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_270_most_frequent_271_materialized)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_272_most_frequent_273_materialized)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_274_most_frequent_275_materialized)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) AS "income",
			patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
		FROM block_train_split_mlinid14_267
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_one_hot_fit_281_282_materialized, block_one_hot_fit_277_278_materialized, block_one_hot_fit_279_280_materialized, lvl0_column_transformer_289
	WHERE
		lvl0_column_transformer_289."county" = block_one_hot_fit_279_280_materialized."county" AND
		lvl0_column_transformer_289."smoker" = block_one_hot_fit_277_278_materialized."smoker" AND
		lvl0_column_transformer_289."race" = block_one_hot_fit_281_282_materialized."race"
);

/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_290 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_269 ORDER BY index_mlinspect;
*/
CREATE VIEW block_mlinid26_291 AS (
	SELECT "label", patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_test_split_mlinid14_268
);
CREATE MATERIALIZED VIEW block_test_split_mlinid14_268_materialized AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_266 ORDER BY RANDOM()) block_mlinid13_266
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_266)
);
CREATE VIEW block_impute_mlinid293_294 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_270_most_frequent_271_materialized)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_272_most_frequent_273_materialized)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_274_most_frequent_275_materialized)) AS "race",
		"income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_test_split_mlinid14_268_materialized
);
CREATE VIEW block_onehot_mlinid295_296 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_one_hot_fit_277_278_materialized, block_one_hot_fit_279_280_materialized, block_one_hot_fit_281_282_materialized, block_impute_mlinid293_294
	WHERE
	 	block_impute_mlinid293_294."smoker" = block_one_hot_fit_277_278_materialized."smoker" AND
		block_impute_mlinid293_294."county" = block_one_hot_fit_279_280_materialized."county" AND
		block_impute_mlinid293_294."race" = block_one_hot_fit_281_282_materialized."race"
);
CREATE VIEW block_stdscaler_mlinid297_298 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) AS "income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_test_split_mlinid14_268_materialized
);
CREATE VIEW block_column_transformer_lvl1_300 AS (
	WITH lvl0_column_transformer_299 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_270_most_frequent_271_materialized)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_272_most_frequent_273_materialized)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_274_most_frequent_275_materialized)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_284_std_avg_285_materialized)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_286_std_avg_287_materialized)) AS "income",
			patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
		FROM block_test_split_mlinid14_268
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_251_mlinid0_ctid, histories_252_mlinid1_ctid
	FROM block_one_hot_fit_281_282_materialized, block_one_hot_fit_277_278_materialized, block_one_hot_fit_279_280_materialized, lvl0_column_transformer_299
	WHERE
		lvl0_column_transformer_299."county" = block_one_hot_fit_279_280_materialized."county" AND
		lvl0_column_transformer_299."smoker" = block_one_hot_fit_277_278_materialized."smoker" AND
		lvl0_column_transformer_299."race" = block_one_hot_fit_281_282_materialized."race"
);

/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_300 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_291 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_291 ORDER BY index_mlinspect