# Benchmark pure pipeline:

Runtime comparison, of the translated pipelines. As well as showcase of the original and translated code.

In [1]:
import pathlib
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root

### The code of the "healthcare" pipeline that will be translated:

In [2]:
pipeline_code = cleandoc("""
    import warnings
    import os
    import pandas as pd
    from sklearn.compose import ColumnTransformer
    from sklearn.impute import SimpleImputer
    from sklearn.model_selection import train_test_split
    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import OneHotEncoder, StandardScaler
    from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, \
        create_model
    from mlinspect.utils import get_project_root

    COUNTIES_OF_INTEREST = ['county2', 'county3']

    patients = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
        na_values='?')
    histories = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
        na_values='?')

    data = patients.merge(histories, on=['ssn'])
    complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
    data = data.merge(complications, on=['age_group'])
    data['label'] = data['complications'] > 1.2 * data['mean_complications']
    data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
    data = data[data['county'].isin(COUNTIES_OF_INTEREST)]
    impute_and_one_hot_encode = Pipeline([
        ('impute', SimpleImputer(strategy='most_frequent')),
        ('encode', OneHotEncoder(sparse=False, handle_unknown='ignore'))
    ])
    featurisation = ColumnTransformer(transformers=[
        ("impute_and_one_hot_encode", impute_and_one_hot_encode, ['smoker', 'county', 'race']),
        # ('word2vec', MyW2VTransformer(min_count=2), ['last_name']),
        ('numeric', StandardScaler(), ['num_children', 'income']),
    ], remainder='drop')
    neural_net = MyKerasClassifier(build_fn=create_model, epochs=10, batch_size=1, verbose=0)
    pipeline = Pipeline([
        ('features', featurisation),
        ('learner', neural_net)
    ])
    train_data, test_data = train_test_split(data)
    model = pipeline.fit(train_data, train_data['label'])
    print("Mean accuracy: {}".format(model.score(test_data, test_data['label'])))
""")

print(pipeline_code)

import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier,         create_model
from mlinspect.utils import get_project_root

COUNTIES_OF_INTEREST = ['county2', 'county3']

patients = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
    na_values='?')
histories = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
    na_values='?')

data = patients.merge(histories, on=['ssn'])
complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
data = data.merge(complications, on=['age_group'])
data['label'] = data['complications'] > 1.2 * data['mean_complications']
data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
data = data[data['county'].isin(COUNTIES_OF_INTEREST)]
impute_and_one_hot_encode = Pipeline([
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('encode', OneHotEncoder(sparse=False, handle_unknown='ignore'))
])
featurisation = ColumnTransformer(transformers=[
    ("impute_and_one_hot_encode", impute_and_one_hot_encode, ['smoker', 'county', 'race']),
    # ('word2vec', MyW2VTransformer(min_count=2), ['last_name']),
    ('numeric', StandardScaler(), ['num_children', 'income']),
], remainder='drop')
neural_net = MyKerasClassifier(build_fn=create_model, epochs=10, batch_size=1, verbose=0)
pipeline = Pipeline([
    ('features', featurisation),
    ('learner', neural_net)
])
train_data, test_data = train_test_split(data)
model = pipeline.fit(train_data, train_data['label'])
print("Mean accuracy: {}".format(model.score(test_data, test_data['label'])))

In [3]:
## The function to retrieve the generated code:
def get_sql_query(pipe_code, mode, materialize):
    PipelineInspector \
        .on_pipeline_from_string(pipe_code) \
        .execute_in_sql(dbms_connector=None, mode=mode, materialize=materialize)

    setup_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/create_table.sql")
    test_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")

    with setup_file.open("r") as file:
        set_up_code = file.read()

    with test_file.open("r") as file:
        test__code = file.read()

    return set_up_code, test__code

## Generated Code Showcase:
The code generated shows all the sql_code for the last call on the DBMS. The commented parts are the queries with which
the data for training, testing and validation were retrieved.

In [4]:
# The code generated using "CTE":
setup_code, test_code = get_sql_query(pipeline_code, mode="CTE", materialize=False)
print(setup_code + "\n" + test_code)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

2021-09-14 13:49:16.576465: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-09-14 13:49:16.576489: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

Mean accuracy:
CREATE TABLE patients_1_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_1_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_2_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_2_mlinid1("smoker", "complications", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



WITH patients_1_mlinid0_ctid AS (
	SELECT *, ctid AS patients_1_mlinid0_ctid
	FROM patients_1_mlinid0
),
histories_2_mlinid1_ctid AS (
	SELECT *, ctid AS histories_2_mlinid1_ctid
	FROM histories_2_mlinid1
),
block_mlinid2_3 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_1_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_2_mlinid1_ctid
	FROM patients_1_mlinid0_ctid tb1
	INNER JOIN histories_2_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
),
block_mlinid3_4 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_3
	GROUP BY "age_group"
),
block_mlinid4_5 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_1_mlinid0_ctid, tb1.histories_2_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_3 tb1
	INNER JOIN block_mlinid3_4 tb2 ON tb1."age_group" = tb2."age_group"
),
block_mlinid5_6 AS (
	SELECT "complications", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
),
block_mlinid6_7 AS (
	SELECT "mean_complications", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
),
block_mlinid7_9 AS (
	SELECT 1.2 * "mean_complications" AS op_8, patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
),
block_mlinid8_11 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_10, patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
),
block_mlinid9_12 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_5
),
block_mlinid10_13 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid9_12
),
block_mlinid11_14 AS (
	SELECT "county", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid10_13
),
block_mlinid12_15 AS (
	SELECT "county" IN ('county2', 'county3'), patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid10_13
),
block_mlinid13_16 AS (
	SELECT *
	FROM block_mlinid10_13
	WHERE "county" IN ('county2', 'county3')
),
block_train_split_mlinid14_17 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_16 ORDER BY RANDOM()) block_mlinid13_16
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_16)
),
block_test_split_mlinid14_18 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_16 ORDER BY RANDOM()) block_mlinid13_16
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_16)
),
block_mlinid16_19 AS (
	SELECT "label", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_train_split_mlinid14_17
),
block_impute_fit_20_most_frequent_21 AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_17
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
),
block_impute_fit_22_most_frequent_23 AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_17
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
),
block_impute_fit_24_most_frequent_25 AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_17
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
),
block_impute_mlinid18_26 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_train_split_mlinid14_17
),
block_one_hot_fit_27_28 AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_26) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_26) oh
	) one_hot_help
),
block_one_hot_fit_29_30 AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_26) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_26) oh
	) one_hot_help
),
block_one_hot_fit_31_32 AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_26) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_26) oh
	) one_hot_help
),
block_onehot_mlinid19_33 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_one_hot_fit_27_28, block_one_hot_fit_29_30, block_one_hot_fit_31_32, block_impute_mlinid18_26
	WHERE
	 	block_impute_mlinid18_26."smoker" = block_one_hot_fit_27_28."smoker" AND
		block_impute_mlinid18_26."county" = block_one_hot_fit_29_30."county" AND
		block_impute_mlinid18_26."race" = block_one_hot_fit_31_32."race"
),
block_std_scalar_fit_34_std_avg_35 AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_17) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_17) AS std_dev_col_std_scal
),
block_std_scalar_fit_36_std_avg_37 AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_17) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_17) AS std_dev_col_std_scal
),
block_stdscaler_mlinid20_38 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_train_split_mlinid14_17
),
block_column_transformer_lvl1_40 AS (
	WITH lvl0_column_transformer_39 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
			patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
		FROM block_train_split_mlinid14_17
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_one_hot_fit_31_32, block_one_hot_fit_27_28, lvl0_column_transformer_39, block_one_hot_fit_29_30
	WHERE
		lvl0_column_transformer_39."smoker" = block_one_hot_fit_27_28."smoker" AND
		lvl0_column_transformer_39."race" = block_one_hot_fit_31_32."race" AND
		lvl0_column_transformer_39."county" = block_one_hot_fit_29_30."county"
)
/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_40 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_19 ORDER BY index_mlinspect;
*/
,
block_mlinid26_41 AS (
	SELECT "label", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_test_split_mlinid14_18
),
block_impute_mlinid43_44 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_test_split_mlinid14_18
),
block_onehot_mlinid45_46 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_one_hot_fit_27_28, block_one_hot_fit_29_30, block_one_hot_fit_31_32, block_impute_mlinid43_44
	WHERE
	 	block_impute_mlinid43_44."smoker" = block_one_hot_fit_27_28."smoker" AND
		block_impute_mlinid43_44."county" = block_one_hot_fit_29_30."county" AND
		block_impute_mlinid43_44."race" = block_one_hot_fit_31_32."race"
),
block_stdscaler_mlinid47_48 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_test_split_mlinid14_18
),
block_column_transformer_lvl1_50 AS (
	WITH lvl0_column_transformer_49 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
			patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
		FROM block_test_split_mlinid14_18
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_one_hot_fit_31_32, block_one_hot_fit_27_28, lvl0_column_transformer_49, block_one_hot_fit_29_30
	WHERE
		lvl0_column_transformer_49."race" = block_one_hot_fit_31_32."race" AND
		lvl0_column_transformer_49."county" = block_one_hot_fit_29_30."county" AND
		lvl0_column_transformer_49."smoker" = block_one_hot_fit_27_28."smoker"
)
/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_50 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_41 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_41 ORDER BY index_mlinspect

In [5]:
# The code generated using "VIEW":
setup_code, test_code = get_sql_query(pipeline_code, mode="VIEW", materialize=False)
view_no_mat = setup_code + "\n" + test_code
print(view_no_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

Mean accuracy:
CREATE TABLE patients_51_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_51_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_52_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_52_mlinid1("smoker", "complications", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_51_mlinid0_ctid AS (
	SELECT *, ctid AS patients_51_mlinid0_ctid
	FROM patients_51_mlinid0
);
CREATE VIEW histories_52_mlinid1_ctid AS (
	SELECT *, ctid AS histories_52_mlinid1_ctid
	FROM histories_52_mlinid1
);
CREATE VIEW block_mlinid2_53 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_51_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_52_mlinid1_ctid
	FROM patients_51_mlinid0_ctid tb1
	INNER JOIN histories_52_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);
CREATE VIEW block_mlinid3_54 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_53
	GROUP BY "age_group"
);
CREATE VIEW block_mlinid4_55 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_51_mlinid0_ctid, tb1.histories_52_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_53 tb1
	INNER JOIN block_mlinid3_54 tb2 ON tb1."age_group" = tb2."age_group"
);
CREATE VIEW block_mlinid5_56 AS (
	SELECT "complications", patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_mlinid4_55
);
CREATE VIEW block_mlinid6_57 AS (
	SELECT "mean_complications", patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_mlinid4_55
);
CREATE VIEW block_mlinid7_59 AS (
	SELECT 1.2 * "mean_complications" AS op_58, patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_mlinid4_55
);
CREATE VIEW block_mlinid8_61 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_60, patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_mlinid4_55
);
CREATE VIEW block_mlinid9_62 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_55
);
CREATE VIEW block_mlinid10_63 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_mlinid9_62
);
CREATE VIEW block_mlinid11_64 AS (
	SELECT "county", patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_mlinid10_63
);
CREATE VIEW block_mlinid12_65 AS (
	SELECT "county" IN ('county2', 'county3'), patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_mlinid10_63
);
CREATE VIEW block_mlinid13_66 AS (
	SELECT *
	FROM block_mlinid10_63
	WHERE "county" IN ('county2', 'county3')
);
CREATE VIEW block_train_split_mlinid14_67 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_66 ORDER BY RANDOM()) block_mlinid13_66
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_66)
);
CREATE VIEW block_test_split_mlinid14_68 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_66 ORDER BY RANDOM()) block_mlinid13_66
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_66)
);
CREATE VIEW block_mlinid16_69 AS (
	SELECT "label", patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_train_split_mlinid14_67
);
CREATE VIEW block_impute_fit_70_most_frequent_71 AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_67
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_fit_72_most_frequent_73 AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_67
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_fit_74_most_frequent_75 AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_67
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_mlinid18_76 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_70_most_frequent_71)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_72_most_frequent_73)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "race",
		"income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_train_split_mlinid14_67
);
CREATE VIEW block_one_hot_fit_77_78 AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_76) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_76) oh
	) one_hot_help
);
CREATE VIEW block_one_hot_fit_79_80 AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_76) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_76) oh
	) one_hot_help
);
CREATE VIEW block_one_hot_fit_81_82 AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_76) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_76) oh
	) one_hot_help
);
CREATE VIEW block_onehot_mlinid19_83 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_one_hot_fit_77_78, block_one_hot_fit_79_80, block_one_hot_fit_81_82, block_impute_mlinid18_76
	WHERE
	 	block_impute_mlinid18_76."smoker" = block_one_hot_fit_77_78."smoker" AND
		block_impute_mlinid18_76."county" = block_one_hot_fit_79_80."county" AND
		block_impute_mlinid18_76."race" = block_one_hot_fit_81_82."race"
);
CREATE VIEW block_std_scalar_fit_84_std_avg_85 AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_67) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_67) AS std_dev_col_std_scal
);
CREATE VIEW block_std_scalar_fit_86_std_avg_87 AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_67) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_67) AS std_dev_col_std_scal
);
CREATE VIEW block_stdscaler_mlinid20_88 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) AS "income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_train_split_mlinid14_67
);
CREATE VIEW block_column_transformer_lvl1_90 AS (
	WITH lvl0_column_transformer_89 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_70_most_frequent_71)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_72_most_frequent_73)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) AS "income",
			patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
		FROM block_train_split_mlinid14_67
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_one_hot_fit_81_82, lvl0_column_transformer_89, block_one_hot_fit_77_78, block_one_hot_fit_79_80
	WHERE
		lvl0_column_transformer_89."smoker" = block_one_hot_fit_77_78."smoker" AND
		lvl0_column_transformer_89."county" = block_one_hot_fit_79_80."county" AND
		lvl0_column_transformer_89."race" = block_one_hot_fit_81_82."race"
);

/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_90 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_69 ORDER BY index_mlinspect;
*/
CREATE VIEW block_mlinid26_91 AS (
	SELECT "label", patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_test_split_mlinid14_68
);
CREATE VIEW block_impute_mlinid93_94 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_70_most_frequent_71)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_72_most_frequent_73)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "race",
		"income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_test_split_mlinid14_68
);
CREATE VIEW block_onehot_mlinid95_96 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_one_hot_fit_77_78, block_one_hot_fit_79_80, block_one_hot_fit_81_82, block_impute_mlinid93_94
	WHERE
	 	block_impute_mlinid93_94."smoker" = block_one_hot_fit_77_78."smoker" AND
		block_impute_mlinid93_94."county" = block_one_hot_fit_79_80."county" AND
		block_impute_mlinid93_94."race" = block_one_hot_fit_81_82."race"
);
CREATE VIEW block_stdscaler_mlinid97_98 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) AS "income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_test_split_mlinid14_68
);
CREATE VIEW block_column_transformer_lvl1_100 AS (
	WITH lvl0_column_transformer_99 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_70_most_frequent_71)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_72_most_frequent_73)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_84_std_avg_85)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_86_std_avg_87)) AS "income",
			patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
		FROM block_test_split_mlinid14_68
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_51_mlinid0_ctid, histories_52_mlinid1_ctid
	FROM block_one_hot_fit_81_82, block_one_hot_fit_77_78, block_one_hot_fit_79_80, lvl0_column_transformer_99
	WHERE
		lvl0_column_transformer_99."county" = block_one_hot_fit_79_80."county" AND
		lvl0_column_transformer_99."smoker" = block_one_hot_fit_77_78."smoker" AND
		lvl0_column_transformer_99."race" = block_one_hot_fit_81_82."race"
);

/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_100 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_91 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_91 ORDER BY index_mlinspect

### Full example of the entire code generated using "VIEW" + "MATERIALIZE":

In [6]:
# The code generated using "VIEW" and "MATERIALIZED":
setup_code_m, test_code_m = get_sql_query(pipeline_code, mode="VIEW", materialize=True)
view_with_mat = setup_code_m + "\n" + test_code_m
print(view_with_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

Mean accuracy:
CREATE TABLE patients_101_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_101_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_102_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_102_mlinid1("smoker", "complications", "ssn") FROM '/home/luca/Documents/Bachelorarbeit/mlinspect/example_pipelines/healthcare/histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_101_mlinid0_ctid AS (
	SELECT *, ctid AS patients_101_mlinid0_ctid
	FROM patients_101_mlinid0
);
CREATE VIEW histories_102_mlinid1_ctid AS (
	SELECT *, ctid AS histories_102_mlinid1_ctid
	FROM histories_102_mlinid1
);
CREATE VIEW block_mlinid2_103 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_101_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_102_mlinid1_ctid
	FROM patients_101_mlinid0_ctid tb1
	INNER JOIN histories_102_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);
CREATE VIEW block_mlinid3_104 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_103
	GROUP BY "age_group"
);
CREATE VIEW block_mlinid4_105 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_101_mlinid0_ctid, tb1.histories_102_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_103 tb1
	INNER JOIN block_mlinid3_104 tb2 ON tb1."age_group" = tb2."age_group"
);
CREATE VIEW block_mlinid5_106 AS (
	SELECT "complications", patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_mlinid4_105
);
CREATE VIEW block_mlinid6_107 AS (
	SELECT "mean_complications", patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_mlinid4_105
);
CREATE VIEW block_mlinid7_109 AS (
	SELECT 1.2 * "mean_complications" AS op_108, patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_mlinid4_105
);
CREATE VIEW block_mlinid8_111 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_110, patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_mlinid4_105
);
CREATE VIEW block_mlinid9_112 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_105
);
CREATE VIEW block_mlinid10_113 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_mlinid9_112
);
CREATE VIEW block_mlinid11_114 AS (
	SELECT "county", patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_mlinid10_113
);
CREATE VIEW block_mlinid12_115 AS (
	SELECT "county" IN ('county2', 'county3'), patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_mlinid10_113
);
CREATE VIEW block_mlinid13_116 AS (
	SELECT *
	FROM block_mlinid10_113
	WHERE "county" IN ('county2', 'county3')
);
CREATE VIEW block_train_split_mlinid14_117 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_116 ORDER BY RANDOM()) block_mlinid13_116
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_116)
);
CREATE VIEW block_test_split_mlinid14_118 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_116 ORDER BY RANDOM()) block_mlinid13_116
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_116)
);
CREATE VIEW block_mlinid16_119 AS (
	SELECT "label", patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_train_split_mlinid14_117
);
CREATE MATERIALIZED VIEW block_train_split_mlinid14_117_materialized AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_116 ORDER BY RANDOM()) block_mlinid13_116
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_116)
);
CREATE MATERIALIZED VIEW block_impute_fit_120_most_frequent_121_materialized AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_117_materialized
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE MATERIALIZED VIEW block_impute_fit_122_most_frequent_123_materialized AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_117_materialized
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE MATERIALIZED VIEW block_impute_fit_124_most_frequent_125_materialized AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_117_materialized
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);
CREATE VIEW block_impute_mlinid18_126 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_120_most_frequent_121_materialized)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_122_most_frequent_123_materialized)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "race",
		"income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_train_split_mlinid14_117_materialized
);
CREATE MATERIALIZED VIEW block_one_hot_fit_127_128_materialized AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_126) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_126) oh
	) one_hot_help
);
CREATE MATERIALIZED VIEW block_one_hot_fit_129_130_materialized AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_126) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_126) oh
	) one_hot_help
);
CREATE MATERIALIZED VIEW block_one_hot_fit_131_132_materialized AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_126) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_126) oh
	) one_hot_help
);
CREATE VIEW block_onehot_mlinid19_133 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_one_hot_fit_127_128_materialized, block_one_hot_fit_129_130_materialized, block_one_hot_fit_131_132_materialized, block_impute_mlinid18_126
	WHERE
	 	block_impute_mlinid18_126."smoker" = block_one_hot_fit_127_128_materialized."smoker" AND
		block_impute_mlinid18_126."county" = block_one_hot_fit_129_130_materialized."county" AND
		block_impute_mlinid18_126."race" = block_one_hot_fit_131_132_materialized."race"
);
CREATE MATERIALIZED VIEW block_std_scalar_fit_134_std_avg_135_materialized AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_117_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_117_materialized) AS std_dev_col_std_scal
);
CREATE MATERIALIZED VIEW block_std_scalar_fit_136_std_avg_137_materialized AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_117_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_117_materialized) AS std_dev_col_std_scal
);
CREATE VIEW block_stdscaler_mlinid20_138 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) AS "income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_train_split_mlinid14_117_materialized
);
CREATE VIEW block_column_transformer_lvl1_140 AS (
	WITH lvl0_column_transformer_139 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_120_most_frequent_121_materialized)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_122_most_frequent_123_materialized)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) AS "income",
			patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
		FROM block_train_split_mlinid14_117
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_one_hot_fit_131_132_materialized, lvl0_column_transformer_139, block_one_hot_fit_127_128_materialized, block_one_hot_fit_129_130_materialized
	WHERE
		lvl0_column_transformer_139."smoker" = block_one_hot_fit_127_128_materialized."smoker" AND
		lvl0_column_transformer_139."county" = block_one_hot_fit_129_130_materialized."county" AND
		lvl0_column_transformer_139."race" = block_one_hot_fit_131_132_materialized."race"
);

/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_140 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_119 ORDER BY index_mlinspect;
*/
CREATE VIEW block_mlinid26_141 AS (
	SELECT "label", patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_test_split_mlinid14_118
);
CREATE MATERIALIZED VIEW block_test_split_mlinid14_118_materialized AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_116 ORDER BY RANDOM()) block_mlinid13_116
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_116)
);
CREATE VIEW block_impute_mlinid143_144 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_120_most_frequent_121_materialized)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_122_most_frequent_123_materialized)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "race",
		"income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_test_split_mlinid14_118_materialized
);
CREATE VIEW block_onehot_mlinid145_146 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_one_hot_fit_127_128_materialized, block_one_hot_fit_129_130_materialized, block_one_hot_fit_131_132_materialized, block_impute_mlinid143_144
	WHERE
	 	block_impute_mlinid143_144."smoker" = block_one_hot_fit_127_128_materialized."smoker" AND
		block_impute_mlinid143_144."county" = block_one_hot_fit_129_130_materialized."county" AND
		block_impute_mlinid143_144."race" = block_one_hot_fit_131_132_materialized."race"
);
CREATE VIEW block_stdscaler_mlinid147_148 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) AS "income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_test_split_mlinid14_118_materialized
);
CREATE VIEW block_column_transformer_lvl1_150 AS (
	WITH lvl0_column_transformer_149 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_120_most_frequent_121_materialized)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_122_most_frequent_123_materialized)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_134_std_avg_135_materialized)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_136_std_avg_137_materialized)) AS "income",
			patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
		FROM block_test_split_mlinid14_118
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_101_mlinid0_ctid, histories_102_mlinid1_ctid
	FROM block_one_hot_fit_131_132_materialized, block_one_hot_fit_127_128_materialized, lvl0_column_transformer_149, block_one_hot_fit_129_130_materialized
	WHERE
		lvl0_column_transformer_149."county" = block_one_hot_fit_129_130_materialized."county" AND
		lvl0_column_transformer_149."smoker" = block_one_hot_fit_127_128_materialized."smoker" AND
		lvl0_column_transformer_149."race" = block_one_hot_fit_131_132_materialized."race"
);

/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_150 ORDER BY index_mlinspect;
*/

/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_141 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_141 ORDER BY index_mlinspect